<div class="header">
    <div class="btn-init">
        <p><%= link_to "Comenzar", products_path %></p>
    </div>
</div>
<div class="home-background">
    <div class="images">
        <div class="product-1">
        </div>
        <div class="product-2">
        </div>
        <div class="product-3">
        </div>
    </div>
    <div class="title">
        <h1>I N V E N T A R I O</h1>
    </div>
</div>
