// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$font-stack: Helvetica, sans-serif;
$white : #fff;
$btn-new-color: #64B883;
$back-color: #7eb9da;
$back-color-light: #a4cee5;
$back-height: 100%;
$white : #fff;
$product-size: 120px;
$product-up: 10em;
$product-left: 10em;

* {
    box-sizing: border-box;
}

body{
    background-color: $back-color-light;
    margin: 0;
    overflow: hidden;
    font: 100% $font-stack;
}

.home-background{
    display: grid;
    grid-template-columns: 50% 50%;
}

ul.header{
    background-color: $back-color;
    margin-top: 0;
    padding: 2em;
    li{
        list-style-type: none;
        display: inline;
        padding: 0 5em;
    }
    a{
        color: $white;
        font-weight: bold;
    }
    a:link{
        text-decoration: none;
    }
    a:hover{
        text-decoration: none;
    }
    a:visited{
        text-decoration: none;
    } 
    a:active{
        text-decoration: none;
    }
}

.images{
    background-color: transparent;
}

.product-1{
    width : $product-size;
    height: $product-size;
    background-color: #da7eb9;
    transform: rotate(45deg);
    margin: 5em 0 0 $product-left;
}

.product-2{
    width : $product-size;
    height: $product-size;
    background-color: #9f7eda;
    transform: rotate(90deg);
    margin: 0 0 0 $product-left;
}

.product-3{
    width : $product-size;
    height: $product-size;
    background-color: #b9da7e;
    transform: rotate(135deg);
    margin: 0 0 0 $product-left;
}

.title{
    justify-self: center;
    align-self: center;
    color: $white;
}

.btn-init{
    height: 3em;
    margin: 1em;
    border-radius: 25px;
    background-color: #da7eb9;
    p{
        text-align: center;
        color: $white;
    }
}

#logo{
    grid-column: 1;
    text-align: center;
    align-self: center;
}