<div class="header-productos">
    <h2>P R O D U C T O S</h2>
</div>

<p class="btn-product"><%= link_to "Nuevo", new_product_path %></p>

<ul>
    <% @products.each do |product| %>
        <li>
            <%= link_to product.name, product %>
        </li>
    <% end %>
</ul>