<div class="header-productos">
    <h2>NUEVO PRODUCTO</h2>
</div>

<%# The form is now a partial view %>
<%# The file is referred without the underscore
but declared with the underscore at the beginnig %>
<%= render "form", product: @product %>