<h1>Nuevo Producto</h1>

<%# The form is now a partial view %>
<%# The file is referred without the underscore
but declared with the underscore at the beginnig %>
<%= render "form", product: @product %>