<header>
    <div class="header">
        <%= link_to "Club Stock", root_path, id: "logo" %>
        <div class="btn-init new">
            <p>Nuevo</p>
        </div>
        <div class="btn-init start">
            <p><%= link_to "Comenzar", signup_path %></p>
        </div>
    </div>
</header>