<header>
    <div class="header">
        <%= link_to "Club Stock", root_path, id: "logo" %>
        <div class="btn-init new">
            <p>Nuevo</p>
        </div>
        <% if logged_in? %>
        <div>
            <p><%= link_to "Yo", current_user %></p>
        </div>
        <div>
            <p><%= link_to "Salir", logout_path, method: :delete %></p>
        </div>
        <% else %>
            <div class="btn-init start">
                <p><%= link_to "Comenzar", signup_path %></p>
            </div>
        <% end %>
    </div>
</header>